# Exclude everything
*

# Except files we explicitly need, grouped by copy command
!docker/install_packages.sh
!docker/timer.sh

!requirements/requirements.txt

!tubthumper

!LICENSE
!pyproject.toml
!README.md
!setup.cfg
!setup.py
