# Exclude everything
*

# Except files we explicitly need, grouped by copy command
!docker/install_packages.sh
!docker/install_shfmt.sh
!docker/timer.sh

!requirements/requirements.txt

!tubthumper/
tubthumper/**/__pycache__/

!LICENSE
!pyproject.toml
!README.md
!setup.cfg
!setup.py
