# MacOS
.DS_Store

# Python
__pycache__/
*.pyc

# VS Code
/.vscode/
/*.code-workspace

# XDG_CACHE_HOME from Docker
/.cache

# Test reports
/reports/

# Docs
/docs/build
/docs/source/_static/reports/
