# Formatting
black

# Import formatting
isort

# Linting
pylint

# Type checking
lxml
mypy
types-setuptools

# Unit tests
tox
--requirement test_requirements.txt

# Requirements generation
pip-tools

# Publishing
build
check-wheel-contents
requests
twine

# Versioning
packaging

# Docs
--requirement docs_requirements.txt
